<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>
<body>
    <h1>Upload an Image for Classification</h1>
    <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Upload">
    </form>
    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</body>
</html>
